/* .w{
    position: fixed;
    height: 625px;
    width:736px;
    background-color:rgba(72, 72, 72, 0.8);
    top:120px;
    left:400px;
    border-radius: 20px;
} */
.check
{
    position: fixed;
    color:rgb(0, 0, 0);
    top:140px;
    left:580px;
    font-size: 45px;
    text-decoration: none;
    font-weight: bold;
}
.text1{
    position: relative;
    color:rgb(55, 55, 55);
    top:10px;
    left:10px;
    font-size:15px;
    text-decoration: none;
    font-weight: bold;
}
.text2{
    position: relative;
    color:rgb(55, 55, 55);
    height:200px;
    top: 20px;
    
    left:20px;
    font-size:15px;
    text-decoration: none;
    font-weight: bold;
    overflow-y: scroll;
}
.boldd
{
    color: black;
    
}

h3
{
    position: fixed;
    top:660px;
    left:520px;
}
h4
{
    position: fixed;
    top:680px;
    left:1300px;
}
.btext
{
    font-size: 50px;

}
.left
{
    position: fixed;
    height: 600px;
    width:740px;
    background-color:rgba(255, 255, 255, 0.9);
    top:130px;
    left:30px;
    border-radius: 20px;
}

.wrapper2 {
    
    position: fixed;
    width:55;
    height: 30px;
    background-color:rgb(0, 128, 255);
  color:rgb(249, 249, 249);
  padding:0px 0px 0px 5px;
  top:680px;
  left:1050px;
  font-size:20px;
  border-style: none;
  border-radius: 10px;
  font-weight: bold;
  
}
.wrapper2:hover {
    color: rgb(255, 255, 255);
    background-color:rgb(0, 45, 63);
    text-decoration: none;
}

.brmin {
    display: block;
    margin-bottom: 0.4em;
}
.middle
{
    position: fixed;
    height: 600px;
    width:710px;
    background-color:rgba(255, 255, 255, 0.803);
    top:133px;
    left:413px;
    border-radius: 20px;

}
.top{
    position: relative;
    height: 260px;
    width:670px;
    background-color:rgba(0, 0, 0, 0.010);
    top:70px;
    left:20px;
    border-radius: 20px;
    overflow-y:scroll;
    overflow-x:hidden;


}
.top::-webkit-scrollbar {
    width: 20px;
}
     
.top::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
    
.top::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(rgb(0, 0, 0), 0.5);
}
.container bootstrap snippets bootdey
{
width: 100px;

}
.buttom {
    position: relative;
    height: 240px;
    width:670px;
    background-color:rgba(0, 0, 0, 0.010);
    top:80px;
    left:20px;
    border-radius: 20px;
}
hr{
    width: 500px;
}