.w {
  position: fixed;
  height: 625px;
  width: 1240;
  background-color: rgba(72, 72, 72, 0.8);
  top: 120px;
  left: 270px;
  border-radius: 20px;
}
.right {
  position: fixed;
  height: 600px;
  width: 610px;
  background-color: rgb(255, 255, 255, 0.9);
  top: 130px;
  left: 890px;
  border-radius: 20px;
}
.top {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  height: 430px;
  width: 530px;
  max-width: 670px;
  top: 80px;
  left: 40px;
  border-radius: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-indent: 10px;
}
.top::-webkit-scrollbar {
  width: 20px;
}

.top::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.top::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(rgb(0, 0, 0), 0.5);
}
.cash {
  position: fixed;
  top: 665px;
  left: 284px;
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 391px;
  border: 2px solid #f6f6f6;
  border-radius: 10px 0px 0px 10px;
  border-style: none;
  outline: none;
}
.cash:hover {
  background-color: lightgray;
  border-style: none;
  outline: none;
}
.cash:active {
  border-style: none;
  outline: none;
}
.cash::placeholder {
  font-size: 25px;
}

.btext {
  position: fixed;
  color: rgb(0, 0, 0);
  top: 660px;
  left: 930px;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  text-align: left;
}
.left {
  position: fixed;
  height: 600px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.9);
  top: 130px;
  left: 280px;
  border-radius: 20px;
}
.Bask {
  position: fixed;
  color: rgb(0, 0, 0);
  top: 140px;
  left: 980px;
  width: 550px;
  font-size: 35px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.wrapper2 {
  position: fixed;
  width: 55;
  height: 30px;
  background-color: rgb(0, 128, 255);
  color: rgb(249, 249, 249);
  padding: 0px 0px 0px 5px;
  top: 25px;
  left: 1470px;
  font-size: 20px;
  border-style: none;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
}
.wrapper2:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 45, 63);
  text-decoration: none;
}

.checkout {
  position: relative;
  width: 180px;
  height: 53px;
  background-color: rgb(0, 128, 255);
  color: rgb(249, 249, 249);
  padding: 10px;
  top: 540px;
  left: 400px;
  border-style: none;
  border-radius: 0px 10px 10px 0px;
  font-weight: bold;
  text-align: center;
}
.checkout:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 45, 63);
  text-decoration: none;
}
.checkout a {
  font-size: 30px;
}

#quantity {
  width: 100px;
  border: 3px solid rgb(0, 128, 255);
  padding: 5px;
  height: 30px;
  font-size: 15;
  color: #000000;
  outline: none;
  background-color: none;
  border-radius: 5px;
}
#addtocart {
  padding-right: 20px;
  width: 100px;
  font-weight: bolder;
  font-size: medium;
  color: rgb(0, 80, 159);
  border-radius: 5px;
  border: none;
  text-decoration: none;
}
#remove {
  width: 130px;
  font-weight: bolder;
  font-size: large;
  color: rgb(0, 80, 159);
  border-radius: 5px;
  border: none;
  text-decoration: none;
  text-align: center;

}
#empty1 {
  width: 130px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  text-decoration: none;

}
#empty2 {
  text-align: center;
  font-size: large;
  color: rgb(197, 0, 0);
  border: none;
  text-decoration: none;
}
