.input-search::placeholder {
  color: rgb(0, 128, 255);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
}
.input-search {
  position: relative;
  left: 0px;
  padding-right: 40px;
  color: rgb(0, 128, 255);
  top: -40px;
  outline: none;
  letter-spacing: 2px;
  font-size: 18px;
  padding: 10px;
  height: 50px;
  border-style: none;
  width: 300px;
  background-color: transparent;
  border-bottom: 1px solid rgb(0, 128, 255);

  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  border-radius: 20px;
}

.radio {
  position: relative;
  top: 320px;
  left: 20px;
  width: 500px;
}
/* MAIN */
/* =============================================== */
.rad-label {
  display: flex;
  align-items: center;

  border-radius: 100px;
  padding: 14px 16px;
  margin: 10px 0;
  max-width: 400px;
  cursor: pointer;
  transition: 0.3s;
  left: 50;
}

.rad-label:hover,
.rad-label:focus-within {
  background: rgba(0, 102, 255, 0.14);
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;

  background: linear-gradient(
    to right bottom,
    hsl(154, 97%, 62%),
    hsl(225, 97%, 62%)
  );
  position: relative;
}

.rad-design::before {
  content: "";

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 73%);
  transform: scale(1.1);
  transition: 0.3s;
}

.rad-input:checked + .rad-design::before {
  transform: scale(0);
}

.rad-text {
  color: hsl(45, 100%, 39%);
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  transition: 0.3s;
}

.rad-input:checked ~ .rad-text {
  color: hsl(223, 100%, 50%);
}

/* ABS */
/* ====================================================== */
.abs-site-link {
  position: fixed;
  bottom: 40px;
  left: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}
.result {
  position: relative;
  top: 40px;
  left: 0px;
}
.searcht {
  position: relative;
  top: -60px;
  left: 20px;
  height: 220px;
  width: 560px;
  border-radius: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.searcht::-webkit-scrollbar {
  width: 20px;
}

.searcht::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.searcht::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(rgb(0, 0, 0), 0.5);
}