.texttt{
  text-align: center;
  width:440;
}
p {
  margin: 0 !important;
}
.main{
  position:fixed;
  top: 70px;
  left: 600px;
}
h1
{
  width: 400px;
font-family: Arial, Helvetica, sans-serif;
font-size:40px;
font-weight: bold;
color: rgb(0, 0, 0);
}
h3
{

font-size:30px;
font-weight: bold;

}
.title { 
    font-size: 50px;
    font-family: 'Passion One', cursive; 
    font-weight: 400; 
  color: #fff;
  text-align: center;
}
a{
  border-radius: 20px,20px;
  font-size:20px;
  

}
.new{
  font-size:50px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.new:hover{
  
  color: rgb(0, 114, 108);
  text-decoration: none;

}

hr{
  color: rgb(0, 0, 0);
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
  font-size: 13px;
  padding-top: 3px;
}

.main-login{
  background-color: rgb(0, 128, 255,0.7);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 30px
}

.main-center{
  max-width: 450px;
  padding: 40px 40px;

}

.login-button{
    margin-top: 15px;
}
.message {
  color: #fff;
  text-shadow: 1px 1px 2px red;
  padding-left: 50px;
  font-weight: bold;
}

.navv {
  flex: 1;
display: flex;
align-items: left;
}

.back{
  position: fixed;
  width:55;
  height: 30px;
  background-color:rgb(0, 128, 255);
  color:rgb(249, 249, 249);
  padding:0px 5px 0px 5px;
  top:85px;
  left:55px;
  font-size:20px;
  border-style: none;
  border-radius: 10px;
  font-weight: bold;
}
.back:hover
{
  color: rgb(255, 255, 255);
  background-color:rgb(0, 45, 63);
  text-decoration: none;

}
.sitename
{
  position: fixed;
  width:350;
  color:rgb(0, 0, 0);
  background:none;
  height: 80px;
  padding:10px 0px 0px 0px;
  top:0px;
  left:25px;
  font-size:50px;
  border-style: solid;
  border-radius: 20px;
  font-weight: bold;
  border-style: none;
  text-transform: capitalize;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;;

}
.containerlogin {
position: fixed;
left: 600px;
top: 150px;
}

.namee{
  position: fixed;
  right: 25px;
  top:25px;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;
  background-image: url('http://localhost/mvc/public/ph1.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  overflow:hidden;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(255, 14, 14, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  position: fixed;
  left: 0;
  display: flex;
  width: 100%;
  align-items: stretch;
  z-index: 7;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #001e6c;
  color: #fff;
  transition: all 0.3s;
  animation: color-transition 5s infinite;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #001e6c;
  animation: color-transition 5s infinite;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white;
}

#sidebar ul li a:hover {
  color: #7386d5;
  background: #fdc800;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

@keyframes color-transition {
  0% {
    background-color: #2671fd;
    border-color: #2671fd;
  }
  33% {
    background-color: rgb(31, 144, 189);
    border-color: rgb(31, 144, 189);
  }
  66% {
    background-color: #6a64c0;
    border-color: #6a64c0;
  }
  100% {
    background-color: #2671fd;
    border-color: #2671fd;
  }
}
#opentab {
  color: white;
}
.bb
{
    background-color: #001e6c;
    color: #001e6c;
}
#demo 
{
position:fixed;
top:20;
left:540;
width:550px;
height: 25px;
color: rgb(212, 26, 26);
font-size:20px;
font-weight:1000;
border-radius: 20px;
text-align: center;
text-transform: uppercase;
margin-left: auto;
margin-right: auto;
text-indent: center;
}
@keyframes color-transition2 {
  0% {
    background-color: #2671fd;
    border-color: #2671fd;
  }
  33% {
    background-color: #bd2727;
    border-color: #bd2727;
  }
  66% {
    background-color: #791a1a;
    border-color: #791a1a;
  }
  100% {
    background-color: #2671fd;
    border-color: #2671fd;
  }
}
